[Desktop Entry]
Version=1.0
Type=Application
Name=Pluma Writer
Comment=Pluma Rich Text Editor
Exec=pluma-writer %F
Icon=pluma-writer
Terminal=false
Categories=Office;TextEditor;
MimeType=text/plain;application/x-pluma;
StartupNotify=true
