[Desktop Entry]
Version=1.0
Type=Application
Name=Pluma
Comment=Pluma Rich Text Editor
Exec=pluma-app %F
Icon=pluma
Terminal=false
Categories=Office;TextEditor;
MimeType=text/plain;
StartupNotify=true
